:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --bg-color:#F5F5F5;
  --sec-bg-color: #2F303A;
  --thr-bg-color: #F5F4FA;
  --black-color: #000000; 
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

.main-page {
  letter-spacing: 0.03em;
  font-family: 'Roboto'; sans-serif;
  color: var(--primary-text-color);
  background: var(--bg-color);
}

.header {
  background-color: var(--white-color)
}

.list {
  list-style: none;
}

.logo {
  font-family: 'Raleway'; sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--black-color);
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-item:hover, .nav-item:focus, .contact:hover, .contact:focus {
  color: var(--accent-color);
}

.curent {
  color: var(--accent-color)
}

.link {
  text-decoration: none;
}

.contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero {
  background-color: var(--sec-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--white-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  background-color: var(--white-color);
  color: var(--accent-color);
}

.button:hover, .button:focus {
  color:var(--white-color);
  background-color:var(--accent-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color:var(--secondary-text-color);
}

.feature-descr {
  font-size: 14px;
  line-height: 1.71;
}

.team-title, .work-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color:var(--secondary-text-color);
}

.team {
  background: var(--thr-bg-color);
}

.teammember-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color:var(--secondary-text-color);
}

.teammember-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: var(--sec-bg-color);
}

.adress, .adress-item {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color:var(--white-color)
}

.adress-item {
  color: var(--footer-contact-color);
}

.adress-item:hover, .adress-item:focus {
  color: var(--accent-color);
}

.logo-white {
  color:var(--white-color)
}

.portfolio {
  font-family: 'Roboto'; sans-serif;
  color: var(--primary-text-color);
  background: (--white-color)
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: var (--thr-bg-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
}